<div class="main_wrap">
    <div class="container">
        <img src="images/TemptationGameCreature.png"/>
        <div class="content">
            <span class="label">Log in</span>
            <form class="form" name="LoginForm" ng-submit="LoginForm.$valid && loginCtrl.signup(loginCtrl.user)">
                <div class="form-group">
                    <input type="text" name="userId" ng-model="loginCtrl.user.userID" ng-required="true" placeholder="Your ID"/>
                </div>
                <div class="form-group">
                    <input type="password" name="password" ng-model="loginCtrl.user.password" ng-minlength="3" required placeholder="Password"/>
                </div>
                <div ng-show="loginCtrl.showError">
                    <p class="help-block">
                        {{loginCtrl.errorMsg}}
                    </p>
                </div>
                <div>
                    <button class="btn btn-lg btn-primary" type="submit" ng-disabled="loginCtrl.isDisabled">
                        Login
                    </button>
                    <a class="btn btn-lg btn-primary" ui-sref="signup">
                        Signup
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>