<div class="main_wrap">
    <div class="container">
        <img src="images/TemptationGameCreature.png"/>
        <div class="content">
            <span class="label">Sign up</span>
            <form class="form" name="SignupForm" ng-submit="signupCtrl.signup(signupCtrl.user)">
                <div class="form-group">
                    <input type="text" name="fName" ng-model="signupCtrl.user.first_name" placeholder="First Name" required/>
                </div>
                <div class="form-group">
                    <input type="text" name="lName" ng-model="signupCtrl.user.last_name" placeholder="Last Name" required/>
                </div>

                <div class="form-group">
                    <input type="text" name="userID" ng-model="signupCtrl.user.userID" placeholder="User ID" required/>
                </div>

                <div class="form-group">
                    <input type="email" name="email" ng-model="signupCtrl.user.email" placeholder="Email" required/>
                </div>

                <div class="form-group">
                    <input type="password" name="password" ng-model="signupCtrl.user.password" placeholder="Password" ng-minlength="3" required/>
                </div>

                <div class="form-group">
                    <input type="password" name="confirmPassword" ng-model="signupCtrl.user.confirmPassword" placeholder="Confirm Password" match="signupCtrl.user.password" ng-minlength="3"  required/>
                    <p class="help-block" ng-show="signupCtrl.error.confirmPassword">
                        Passwords must match.
                    </p>
                </div>
                <div ng-show="signupCtrl.showError">
                    <p class="help-block">
                        {{signupCtrl.errorMsg}}
                    </p>
                </div>
                <div>
                    <button class="btn btn-lg btn-primary" type="submit" ng-disabled="signupCtrl.isDisabled">
                        Sign up
                    </button>
                    <a class="btn btn-lg btn-primary" ui-sref="login">
                        Login
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>